/* DROPDOWN DESIGN LIKE IMAGE */

.submenu{
display:none;
background:#ffffff;
border:1px solid #ddd;
}

.submenu div{
padding:20px;
font-size:22px;
font-weight:500;
border-bottom:1px solid #e5e5e5;
display:flex;
justify-content:space-between;
align-items:center;
position:relative;
background:#ffffff;
}

/* LEFT TEAL BAR */

.submenu div::before{
content:"";
position:absolute;
left:0;
top:0;
height:100%;
width:8px;
background:#1f5f67;
}

/* RIGHT ARROW */

.submenu div::after{
content:"▶";
font-size:18px;
color:black;
}

/* HOVER EFFECT */

.submenu div:hover{
background:#f4f6f7;
cursor:pointer;
}